fieldset {
	width: 100%;
	background-color: #add8e6;
}
div {
	text-align: center;
	margin-bottom: 0.5em;
}

@media screen and (min-width: 480px) {
  form {
    width: 100%;
  }
  fieldset {
    width: 60%;
  }
}